<div class="grid" [style.column-count]='isMobileScreen ? "1": isTabScreen? "2": "3"'>
  <div class="grid-item" *ngFor="let image of images | async">
    <img class="img" [src]="image.url" class="img">
    <div class="overlay"></div>
    <div class="overlay-items">
      <h2>{{image.label}}</h2>
      <div class="buttons">
        <button mat-mini-fab [color]="color" (click)="changeColor(image)">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteImage(image._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>





